<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <!-- Social Icons -->
        <div class="social-links">
          <a href="https://www.linkedin.com/in/oscarmoxon/" target="_blank" aria-label="LinkedIn">
            <img src="/assets/linkedin.png" alt="LinkedIn" style="width: 45px; height: 45px;">
          </a>
          <!-- <a href="https://twitter.com/oscarmoxon" target="_blank">
            <svg class="svg-icon"> -->
          <a href="https://twitter.com/oscarmoxon" target="_blank" aria-label="Twitter">
            <img src="/assets/x.png" alt="Twitter" style="width: 45px; height: 45px;">
            <!-- </svg> -->
          </a>
          <a href="https://github.com/mrmoxon" target="_blank" aria-label="Github">
            <img src="/assets/github.png" alt="Twitter" style="width: 45px; height: 45px;">
            <!-- </svg> -->
          </a>
        </div>
      </div>
      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>
      </div>
    </div>
  </div>
</footer>
