<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><span class="title-symbol">± </span>{{ site.title | escape }}</a>
    
    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">±</span>
        </label>

        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <span class="nav-item">[<a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>]</span>
            {%- endif -%}
          {%- endfor -%}

          <span class="nav-item">[<a class="page-link" href="{{ '/CV.pdf' | relative_url }}" target="_blank">cv</a>]</span>

          <div class="theme-toggle-wrapper">
            <label class="theme-toggle" for="darkModeToggle">
              <input type="checkbox" id="darkModeToggle" onclick="toggleDarkMode()" />
              <span class="slider"></span>
            </label>
            <script>document.getElementById('darkModeToggle').checked = localStorage.getItem('darkMode') === 'dark';</script>
          </div>

        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
