---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <br>
    <br>
    <p class="intro">Making some of my essays available here.</p>
    <br>
    <br>

    {% assign featured_posts = site.posts | where: "featured", true %}

    {% if featured_posts.size > 0 %}
    <ul class="post-list-featured">
      {% for post in featured_posts %}
      <li class="essay-entry-featured-essay">
        <a href="{{ post.url | relative_url }}" class="post-link">
          <!-- <img src="/star.png" alt="Featured" class="featured-icon"> -->
          <div class="essay-content">
            <span class="post-title">{{ post.title }}</span>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% assign recommendations = site.posts | where: "recommended", true %}

    {% if recommendations.size > 0 %}
      <p class="recommendation">If you're not sure which to read, try
        {% for post in recommendations %}
          {% unless post.featured %}
            <a href="{{ post.url | relative_url }}" class="essay-recommendation-link">{{ post.title }}</a>
            {%- if forloop.last == false %}{% if forloop.rindex == 2 %} or {% else %},{% endif %}{% endif %}
          {% endunless %}
        {% endfor %} <!-- no space before the full stop -->
      </p>
    {% endif %}
        
    {% assign normal_posts = site.posts | where: "featured", nil %}

    <!-- Normal Posts -->
    <ul class="post-list">
      {% for post in normal_posts %}
      <li class="essay-entry">
        <a href="{{ post.url | relative_url }}" class="post-link">
          <div class="essay-content">
            <span class="post-title">{{ post.title }}</span>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>

  {%- endif -%}
  
</div>