---
layout: dashboard
---
<div class="home">

    <div class="dropdown-menu">
        <select id="columnSelect">
          <option value="0">[general]</option>
          <option value="1">[theses]</option>
          <option value="2">[aesthetic]</option>
          <option value="3">[events]</option>
        </select>
    </div>
    
    <div class="container">
        <div class="tweet-column">
        <h2 class="column-title">[general]</h2>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1799957532271661340"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1792700548267053536"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1768320488755892472"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://x.com/oscarmoxon/status/1766871675075743822"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1765771647540146365"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1761161447516635492"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1758930516739264856"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1751944855469576426"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1745027591428301120"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1741166374754390062"></a>
            </blockquote>
          </div>
        </div>
    
        <div class="tweet-column">
        <h2 class="column-title">[theses]</h2>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1800886201840234999"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1792615652085346331"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1782377234549858412"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1784731324600709399"></a>
            </blockquote>
          </div>
        </div>
    
        <div class="tweet-column">
        <h2 class="column-title">[aesthetic]</h2>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1795564385768816713"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1777638163491471635"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://x.com/oscarmoxon/status/1784265847843725399"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1778208186182295739"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1772798001154572642"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1758594734602273083"></a>
            </blockquote>
          </div>
          <div class="tweet-card">
            <blockquote class="twitter-tweet">
              <a href="https://twitter.com/oscarmoxon/status/1758542457376063602"></a>
            </blockquote>
          </div>
        </div>
    
        <div class="tweet-column">
        <h2 class="column-title">[events]</h2>
            <div class="tweet-card">
                <blockquote class="twitter-tweet">
                    <a href="https://twitter.com/oscarmoxon/status/1785419368949506084"></a>
                </blockquote>
            </div>
            <div class="tweet-card">
                <blockquote class="twitter-tweet">
                    <a href="https://twitter.com/oscarmoxon/status/1785033465240408419"></a>
                </blockquote>
            </div>
            <div class="tweet-card">
                <blockquote class="twitter-tweet">
                    <a href="https://twitter.com/LouisKnightWebb/status/1779799169546293568"></a>
                </blockquote>
            </div>
            <div class="tweet-card">
                <blockquote class="twitter-tweet">
                    <a href="https://twitter.com/oscarmoxon/status/1757230744462606825"></a>
                </blockquote>
            </div>
        
  </div>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  
  <script>
    const columnSelect = document.getElementById('columnSelect');
    const tweetColumns = document.querySelectorAll('.tweet-column');

    function handleResize() {
      if (window.innerWidth <= 600) {
        // Show dropdown menu and hide columns
        columnSelect.style.display = 'block';
        tweetColumns.forEach((column, index) => {
          if (index === parseInt(columnSelect.value)) {
            column.style.display = 'flex';
          } else {
            column.style.display = 'none';
          }
        });
      } else {
        // Hide dropdown menu and show all columns
        columnSelect.style.display = 'none';
        tweetColumns.forEach(column => {
          column.style.display = 'flex';
        });
      }
    }

    columnSelect.addEventListener('change', function() {
      tweetColumns.forEach((column, index) => {
        if (index === parseInt(this.value)) {
          column.style.display = 'flex';
        } else {
          column.style.display = 'none';
        }
      });
    });

    window.addEventListener('resize', handleResize);
    handleResize(); // Initial check on page load
  </script>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  .tweet-column {
    display: flex;
    flex-direction: column;
  }

  .tweet-card {
    margin-bottom: 0px;
  }

  .dropdown-menu {
    display: none;
    /* margin-bottom: 20px; */
    padding: 20px;
  }

  #columnSelect {
    padding: 8px 10px;
    width: 250px;
    background-color: #f3e9e3;
    border: 2px solid #cbaa96;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23cbaa96' d='M6 9L1.9 4.9l.7-.7L6 7.6l3.4-3.4.7.7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
    }

    .tweet-column {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
    }

    .dropdown-menu {
      display: block;
    }
  }
</style>