---
layout: dashboard
---
<div class="home">
  <div class="container">
    <div class="tweet-column">
    <h2 class="column-title">[general]</h2>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1799957532271661340"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1792700548267053536"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1768320488755892472"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://x.com/oscarmoxon/status/1766871675075743822"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1765771647540146365"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1761161447516635492"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1758930516739264856"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1751944855469576426"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1745027591428301120"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1741166374754390062"></a>
        </blockquote>
      </div>
    </div>

    <div class="tweet-column">
    <h2 class="column-title">[theses]</h2>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1800886201840234999"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1792615652085346331"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1782377234549858412"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1784731324600709399"></a>
        </blockquote>
      </div>
    </div>

    <div class="tweet-column">
    <h2 class="column-title">[aesthetic]</h2>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1795564385768816713"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1777638163491471635"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://x.com/oscarmoxon/status/1784265847843725399"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1778208186182295739"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1772798001154572642"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1758594734602273083"></a>
        </blockquote>
      </div>
      <div class="tweet-card">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/oscarmoxon/status/1758542457376063602"></a>
        </blockquote>
      </div>
    </div>

    <div class="tweet-column">
    <h2 class="column-title">[events]</h2>
        <div class="tweet-card">
            <blockquote class="twitter-tweet">
                <a href="https://twitter.com/oscarmoxon/status/1785419368949506084"></a>
            </blockquote>
        </div>
        <div class="tweet-card">
            <blockquote class="twitter-tweet">
                <a href="https://twitter.com/oscarmoxon/status/1785033465240408419"></a>
            </blockquote>
        </div>
        <div class="tweet-card">
            <blockquote class="twitter-tweet">
                <a href="https://twitter.com/LouisKnightWebb/status/1779799169546293568"></a>
            </blockquote>
        </div>
        <div class="tweet-card">
            <blockquote class="twitter-tweet">
                <a href="https://twitter.com/oscarmoxon/status/1757230744462606825"></a>
            </blockquote>
        </div>
    </div>
    </div>
  </div>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  .tweet-column {
    display: flex;
    flex-direction: column;
  }

  .tweet-card {
    margin-bottom: 0px;
  }
</style>